$color-white: #ffffff;

$color-golden-tainoi: #fecc50;
$color-sunset-orange: #ff5252;
$color-jelly-bean: #2b80a3;
$color-jungle-green: #28a99c;

$color-concrete: #f2f2f2;
$color-tower-gray: #aabdc4;
$color-regent-gray: #7c9298;
$color-outer-space: #374245;
