.basket {
    &__header {
        height: 5rem;
        background-color: $color-outer-space;
        color: $color-white;

        @include media-breakpoint-down(xs) {
            height: 4rem;
        }
    }

    &__content {
        min-height: calc(100vh - 300px);
        background-color: $color-concrete;

        @include media-breakpoint-down(md) {
            min-height: calc(100vh - 240px);
        }

        @include media-breakpoint-down(xs) {
            min-height: calc(100vh - 224px);
        }

        .fa-calendar-alt,
        .fa-minus-square,
        .fa-trash-alt {
            padding-left: 0.2rem;
        }

        .fa-minus-square {
            cursor: pointer;
            color: $color-golden-tainoi;
        }

        .fa-trash-alt {
            cursor: pointer;
            color: $color-sunset-orange;
        }

        &--img {
            width: 300px;

            @include media-breakpoint-down(md) {
                width: 200px;
            }
        }
    }
}
