<div class="error">
    <div class="error__content d-flex justify-content-center flex-column">
        <div class="row w-100 p-2 justify-content-center flex-column">
            <img src="img/404.png" class="error__content--img" alt="404" />
            <h3>Ups... Strona nie istnieje. &#128546</h3>
            <p>Skorzystaj z menu głównego - tam na pewno coś znajdziesz.</p>
        </div>
    </div>
</div>