<div class="home">
	<div class="home__slider">
		<div class="home__slider--item">
			<h1>
				Cześć!
			</h1>
			<p>
				<i class="fas fa-hand-point-right"></i> Masz dosyć codziennych 500-tek?
				<br />
				<i class="fas fa-hand-point-right"></i> Tracenia czasu na zastanawianie się "czemu tu funkcja nie
				działa"?
				<small>
					(bo zapomniałeś ją wywołać...)
				</small>
				<br />
				<i class="fas fa-hand-point-right"></i> Klientów, którzy po 10 razy dziennie chcą zmieniać rozmiar
				hadwójek?
				<br />
				<i class="fas fa-hand-point-right"></i> PM-ów myślących, że ich projekt jest najważniejszy na świecie?
			</p>
		</div>
		<div class="home__slider--item">
			<h2>
				Tobie też należy się relaks!
			</h2>
		</div>
		<div class="home__slider--item">
			<h2>
				Zobacz, co oferuje nasze SPA dla programistów.
			</h2>
			<p>
				Jedyne na dzielni.<br />
				Jedyne, które rozumie, że programista też &#129492; <small>(i tylko czasami &#128125;)</small>
			</p>
		</div>
	</div>
	<div id="home__offer">
		<div class="home__offer--header">
			<div class="row p-0 h-100">
				<div class="col-12 align-self-center">
					<h3>Oferta</h3>
				</div>
			</div>
		</div>
		<div class="home__offer--content">
			<div class="row p-5 justify-content-center">
				<div class="col-sm-6 col-xl-2 align-self-start home__offer--content-item">
					<img class="home__offer--content-img" src="/img/room.png" alt="Pokoje" />
					<h4>Pokoje</h4>
					<p>Wygodne i przestronne pokoje dostosowane do potrzeb programistów.</p>
				</div>
				<div class="col-sm-6 col-xl-2 offset-xl-1 align-self-start home__offer--content-item">
					<img class="home__offer--content-img" src="/img/treatment.png" alt="Zabiegi" />
					<h4>Zabiegi</h4>
					<p>Oferta skomponowana, by zapewnić relaks w czasie odpoczynku od kodu.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="home__location">
		<div class="home__location--header">
			<div class="row p-0 h-100">
				<div class="col-12 align-self-center">
					<h3>Lokalizacja</h3>
				</div>
			</div>
		</div>
		<div class="home__location--content">
			<div class="row p-5">
				<div class="col-12 align-self-center">
					<img class="home__location--content-img" src="/img/location.png" alt="Lokalizacja" />
					<p>Oaza Spokoju 47<br />
						01-100 Leśny Dukt<br />
						Polska</p>
				</div>
			</div>
		</div>
	</div>
	<div id="home__about">
		<div class="home__about--header">
			<div class="row p-0 h-100">
				<div class="col-12 align-self-center">
					<h3>O nas</h3>
				</div>
			</div>
		</div>
		<div class="home__about--content">
			<div class="row p-5 justify-content-center">
				<div class="col-sm-6 col-md-4 col-xl-3 home__about--content-item">
					<h4>Programiści dla programistów</h4>
					<p>Znamy potrzeby programistów, bo sami nimi jesteśmy. Wiemy, że czasami trzeba odpocząć od kodu i
						oddać się relaksowi!</p>
				</div>
				<div class="col-sm-6 col-md-4 col-xl-3 home__about--content-item">
					<h4>Niskie ceny</h4>
					<p>Ok, wiemy, że zarabisz dużo pieniędzy, ale czemu masz je wszystkie zostawić u nas? Wydaj trochę
						na odpoczynek, a resztę poświęć na swoje ulubione rozrywki!</p>
				</div>
				<div class="col-sm-12 col-md-4 col-xl-3 home__about--content-item">
					<h4>Świetne otoczenie</h4>
					<p>Wszyscy lubimy spędzać czas w swoich norach, ale umówmy się, że nic nie zostąpi obcowania z
						naturą!</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>